[Unit]
Description=Hardware initialization
After=networking.service

[Service]
Type=oneshot
ExecStart=/bin/bash /etc/ska-low-smm-tools/hw_init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
