[Unit]
Description=Web Server service
After=network.target hw_init.service
Requires=hw_init.service

[Service]
Type=simple
ExecStart=/bin/bash /etc/ska-low-smm-tools/web_server_start.sh
ExecStop=/bin/bash /etc/ska-low-smm-tools/web_server_stop.sh
Restart=always
RestartSec=5
TimeoutSec=60
RuntimeMaxSec=infinity
PIDFile=/tmp/name_script.pid

[Install]
WantedBy=multi-user.target
